p{

    color: coral;

}

#Secandptag{
    color: red;
}

.simpleclass{

    color: green;

}

table,th,td{

    border: 1px solid black;
    border-collapse: collapse; 
    padding: 15px;

}
h3{
    text-align:center;
}

form{
    text-align: center;
}

input{
    padding: 10px;
}