body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: rgb(194, 146, 240);
}

.banner-column{
    background-color: rgb(165, 96, 230);
}

.navber-container{
    top: 0;
    background-color: rgb(4, 4, 48);
    position: sticky;
    z-index: 2;
}

.about-container{
    background-color: rgb(235, 132, 212);
}
.education-container{
    background-color: rgb(90, 218, 218);
}

.color-text{
    color: rgb(243, 160, 6);
}

.colortype{
    background-color:  rgb(243, 160, 6);
}

.colortype:hover{
    color:  rgb(8, 8, 8)!important;
}

.circle{
    background-color:  rgb(243, 160, 6);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container{
    background-color: rgb(102, 194, 163);
}

.gallery-container{
    background-color: rgb(113, 170, 20);
}
.form-container{
    background-color: rgb(44, 44, 44);
}

.inner-form{
    background-color: rgb(180, 196, 214);
}

.footer{
    background-color: rgb(14, 131, 240);
}

.circle-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block ;
    background-color: white;

    font-size: 40px;
    text-align: center;
}

.circle-icon:hover{
    
    background-color: rgb(100, 98, 98);

    
}